body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
  padding: 100px 220px 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 470px;
}

.my-projects-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 15px;
}

.my-projects-list li {
  color: #000;
  font-weight: bold;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 7px;
}
.my-projects-list a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-work-experience-section h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}

.my-work-experience-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

.my-work-experience-section ul {
  padding-left: 18px;
}

.my-work-experience-section li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-work-experience-section div {
  margin-bottom: 15px;
  width: 525px;
}

.my-education-section {
  margin-top: 45px;
}

.my-education-section h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.my-education-section h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}

.my-education-section p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0;
}

.my-education-section span {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* sidebar section */

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.contacts-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  opacity: 0.5;
}

.sidebar-list {
  padding: 0 0 0 17px;
}

.sidebar-list li {
  color: #fb6d3a;
}

.sidebar-list span {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.soft-skills-section {
  margin-top: 45px;
  margin-left: 40px;
}
